body {
  background-color: #F2C6B0;
  /*#E9DFEA*/
  /*color: #F1DDF1;*/
  text-align: center;
}

.homeDescription {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
}

* {
  margin: 0px;
  padding: 0px;
}

/* styling rules for text and images*/
p {
  font-size: 1.2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

h1 {
  font-size: 2.2em;
  font-weight: 100;
  color: black;
  padding-top: 1em;
  padding-bottom: 0em;
}

.about-description {
  padding-top: 1em;
  padding-bottom: 10em;
}

/* main image*/
.mainImage {
  width: 100%;
  height: auto;
}

/* ------Styling the portfolio images ------ */
.portImage {
  max-height: 20em;
}

/* nav bar */
ul.nav-bar {
  list-style-type: none;
  background-color: #C9D3E9;
  padding: 1em;
  overflow: hidden;
}

li.nav-bar {
  display: inline;
  border-right: 2px solid white;
}

li a {
  text-decoration: none;
  text-align: center;
  padding: 1em;
  font-size: 1.3em;
}

/* contact info */
.contact-header {
  padding-bottom: 0em;
}

ul.contact-links {
  font-size: 1.3em;
  font-color: white;
  padding-bottom: 5em;
  padding-top: 1em;
}

li.contact-links {
  border-right: 2px solid white;
}

li b {
  text-decoration: none;
  text-align: center;
  padding-bottom: 0px;
  font-size: 1em;
}

/*header flexbox*/ 
.headerContainer {
  position: relative;
  text-align: center;
  padding-bottom: 0px;
}

/* Bottom right text "cathy zhao"*/
.textBlock {
  position: absolute;
  bottom: 30px;
  right: 20px;
  color: white;
  display: inline;
}

#text-cathy {
  padding-bottom: 0px;
}

#text-zhao {
  padding-top: 0px;
  padding-bottom: 10px;
}

.portContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nordic {
  padding-top: 2em;
  padding-bottom: 1em;
}

.photography {
  padding-top: 2em;
  padding-bottom: 1em;
  flex-direction: row;
}

