body {
  background-color: #C9D3E9;
  text-align: center;
}

/*
.header {
  background-image: url(https://cdn.glitch.com/92861c0a-015a-4ed9-9ce2-fc20ae3defd3%2Fhenry-be-IicyiaPYGGI-unsplash.jpg?v=1595438110844);
  position: relative;
  text-align: center;
}*/

.homeDescription {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 3em;
}

* {
  margin: 0px;
  padding: 0px;
}

/* styling rules for text and images*/
p {
  font-size: 1.2em;
  color: #003046;
  padding-top: 1em;
  padding-bottom: 1em;
}

h1 {
  font-size: 2.2em;
  font-weight: 100;
  /*color: #F1DDF1;*/
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* ------Styling the round image on the home page ------ */
#mainImage {
  height: 500px;
  width: 1000px;
  padding-top: 2em;
}

/* ------Styling the portfolio images ------ */
.portImage {
  max-height: 20em;
}

/*Style the Nav Bar by selecting the u1, li, and li a elements*/
ul {
  list-style-type: none;
  background-color: #E9DFEA;
  padding: 1em;
  overflow: hidden;
}

li {
  display: inline;
  border-right: 2px solid white;
}

li a {
  text-decoration: none;
  text-align: center;
  padding: 1em;
  font-size: 1.3em;
}

#contactLinks {
  font-size: 1.3em;
  font-color: white;
}

/*TODO: add another flexbox*/ 
.headerContainer {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.portContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nordic {
  padding-top: 2em;
  padding-bottom: 1em;
}

.photography {
  padding-top: 2em;
  padding-bottom: 1em;
  flex-direction: row;
}

