body {
  background-color: #C9D3E9;
  text-align: center;
}

h1 {
  color: #F1DDF1;
  color: #E9DFEA;
  color: white;
}

.header {
  background-color: black;
  
}

* {
  margin: 0px;
  padding: 0px;
}

/* styling rules for text and images*/
p {
  font-size: 1.2em;
  color: #003046;
  padding-top: 1em;
  padding-bottom: 1em;
}

h1 {
  font-size: 2.2em;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* ------Styling the round image on the home page ------ */
#main-img  {
  border-radius: 50%;
  max-height: 250px;
  margin-bottom: 2em;
  border: 3px solid white;
}

/* ------Styling the portfolio images ------ */
.port-img {
  border-radius: 10%;
  max-height: 20em;
}

/*TODO: Style the Nav Bar by selecting the u1, li, and li a elements*/




/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex;/ 